.bar {
    background: #16181b;
    grid-area: b;
}

.gtitle {
    font-size: 24px;
    font-family: 'Inter', sans-serif;
    color: white;
}

.gstat {
    font-family: 'Inter', sans-serif;
    color: #8F8F8F;
}

.icon {
    transform: scale(0.6);
}

.comebackLink {
    margin-left: 10px;
}