@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.main {
    background: #242B4D;
    border-radius: 20px;
    width: 50vw;
    height: 50vh;
    position: absolute;
    top: 25vh;
    left: 25vw;
    padding: 15px;
}

.button {
    background: none;
    filter: brightness(0.75);
    transition: all 0.5s ease;
    border: none;
    &:hover {
        filter: brightness(1);
        transition: all 0.5s ease;
    }
}
.close {
    position: absolute;
    right: 40px;
    top: 40px;
}

.sticker img {
    width: 60px;
    height: auto;
}

.label {
    font-size: 25px;
}

.radio {
    width: 100%;
    input[type="file"]::file-selector-button {
        background-color: #7F4CB5;
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }
    input[type="file"] {
        color: white;
        font-size: 15px;
        font-family: 'Balsamiq Sans',sans-serif;
    }
}

.confirm {
  border: 4px solid #D9D9D9;
  background-color: #2F4061;
  border-radius: 5px;
  width: 15vw;
  height: 5vh;
  color:#D9D9D9;
  font-family: 'Balsamiq Sans', sans-serif;
  font-weight: 500;
  font-size: 20px;
  transition: all 0.5s ease;
}

.confirm:hover {
  border: 4px solid #FFF;
  background-color: #36599e;
  color: #fff;
  transition: all 0.5s ease;
}