.texting {
    grid-area: d;
    background-color: #232629;
}

.destyle {
    background: none;
    border: none;
    border-radius: none;
}

.on {
    filter: brightness(0) saturate(100%) invert(33%) sepia(97%) saturate(924%) hue-rotate(185deg) brightness(95%) contrast(97%);
}

.form {
    div {
        width: 100%;
    }
    input {
        background: inherit;
        color: #616369;
        border: none;
        font-size: 24px;
        padding-left: 10px;
    }
    button {
        transition: all 0.5s ease;
        &:hover {
            filter: brightness(200%);
            transition: all 0.5s ease;
        }
    }
}