.texting {
    position: relative;
    top: calc(100% - 70px);
    left: 0px;
    width: 100%;
    overflow-x: hidden;
}

.destyle {
    background: none;
    border: none;
    border-radius: none;
}

.form input {
    background-color: #232629;
    color: #616369;
    height: 60px;
    border: none;
    width: calc(100% - 80px);
    font-size: 24px;
    margin-left: 40px;
    border-radius: 15px;
    padding-left: 10px;
}

.form button {
    position: absolute;
    top: calc(50% - 18.5px);
    right: 50px;
    transition: all 0.5s ease;
}

.form button:hover {
    filter: brightness(200%);
    transition: all 0.5s ease;
}