.texting {
    grid-area: d;
}

.destyle {
    background: none;
    border: none;
    border-radius: none;
}


.form {
    div {
        width: 100%;
    }
    background-color: #232629;
    input {
        background: inherit;
        color: #616369;
        height: 5vh;
        border: none;
        font-size: 24px;
        padding-left: 10px;
    }
    button {
        transition: all 0.5s ease;
        &:hover {
            filter: brightness(200%);
            transition: all 0.5s ease;
        }
    }
}