@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
.close {
    position: absolute;
    right: 40px;
    top: 40px;
    background: none;
    filter: brightness(0.75);
    transition: all 0.5s ease;
    border: none;
}

.close:hover {
    filter: brightness(1);
    transition: all 0.5s ease;
}

.main {
    background: #242B4D;
    border-radius: 20px;
    width: 50vw;
    height: 50vh;
    position: absolute;
    top: 25vh;
    left: 25vw;
}

.form {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  height: 100%;
  width: 100%;
  align-items: center;
}

.form label {
    font-size: 25px;
}

.form input[type="submit"] {
  border: 4px solid #D9D9D9;
  background-color: #2F4061;
  border-radius: 5px;
  width: 15vw;
  height: 5vh;
  color:#D9D9D9;
  font-family: 'Balsamiq Sans', sans-serif;
  font-weight: 500;
  font-size: 20px;
  transition: all 0.5s ease;
}

.form input[type="submit"]:hover {
  border: 4px solid #FFF;
  background-color: #36599e;
  color: #fff;
  transition: all 0.5s ease;
}

.form input[type="range"] {
  position: relative;
  top: 25%;
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 5px;
  border-radius: 5px;  
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.form input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%; 
  background: #D9D9D9;
  cursor: pointer;
}

.form input[type="range"]::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #D9D9D9;
  cursor: pointer;
}

.grid {
  width: 50%;
}