.main-header {
  position: fixed;
  top: 15px;
  left: 50%;
  width: 95%;
  max-width: 1200px;
  transform: translateX(-50%);
  backdrop-filter: blur(10px);
  z-index: 1000;
  padding: 5px 0;
  border-radius: 50px;
  border: 1px solid #fff;
}
body {
  margin: 0;
  padding: 0;
  background-color: #251a33;
  padding-top: 150px;
}

/*first section*/

.Function {
  display: flex;
  justify-content: center;
  gap: 150px;
}
.Function > button {
  display: flex;
  padding: 15px 50px;
  font-family: "Handjet", sans-serif;
  font-size: 40px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  color: #312e4d;
  background-color: #44549d;
  font-weight: bold;
  border: 6px solid #8cb2ff;
  border-top: none;
  cursor: pointer;
  transition: all 0.3s ease;
  text-decoration: none;
}
.Function > button:hover {
  transform: scaleX(1.1);
  border: 6px solid #8cb2ff;
  border-radius: 25px;
}
a {
  text-decoration: none;
}
.nav-container {
  display: flex;
  justify-content: center;
}
.nav-container > nav > ul {
  display: flex;
  list-style: none;
  align-items: center;
  margin: 0;
  padding: 0;
}
.nav-container > nav > ul > li > a {
  display: flex;
  justify-content: center;
  gap: 60px;
  padding: 20px;
  border-width: 0.5px;
  color: #9d9d9d;
  font-family: "Gudea", sans-serif;
  font-size: 20px;
  margin-left: 40px;
  font-weight: bold;
  transition: color 0.3s ease;
}
.nav-container > nav > ul > li > a:hover {
  color: #fff;
  text-shadow: 0 0 10px #8cb2ff;
}
.big-frame1 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  background: radial-gradient(ellipse, #443f87, #35415a);
  backdrop-filter: blur(10px);
  border-radius: 20px;
  box-shadow: 0 0 30px #fff;
  border: 10px solid #e0e0e0;
  width: 90vw;
  max-width: 1200px;
  height: 78vh;
  max-height: 700px;
  margin: 0 auto;
}
.card-btn {
  position: absolute;
  background: #251a33;
  color: white;
  border: none;
  padding: 10px 40px;
  border-radius: 50px;
  cursor: pointer;
  font-family: "Handjet", sans-serif;
  height: 115px;
  font-size: 100px;
  width: 350px;
  top: 30px;
  text-align: center;
  margin-top: 60px;
  transition: background 0.3s ease, box-shadow 0.3s ease;
}
@keyframes pulseGlow {
  0% {
    box-shadow: 0 0 20px #8cb2ff;
  }
  50% {
    box-shadow: 0 0 40px #8cb2ff;
  }
  100% {
    box-shadow: 0 0 20px #8cb2ff;
  }
}

.card-btn {
  animation: pulseGlow 3s infinite ease-in-out;
}

.left-section {
  position: relative;
  width: 100%;
  height: 400px;
}

.right-section {
  position: relative;
}

.img-frame1 {
  width: 80%;
  height: 100%;
  object-fit: contain;
}

.text-overlay {
  position: absolute;
  font-size: 150px;
  font-weight: bold;
  color: #251a33;
  top: -70px;
  font-family: "Handjet", sans-serif;
  margin-left: 14%;
  margin-bottom: 50%;
  text-shadow: 0 0 5px #8cb2ff, 0 0 10px #8cb2ff, 0 0 15px #8cb2ff,
    0 0 20px #8cb2ff;
}

.hello-text {
  margin-top: 300px;
  font-size: 30px;
  font-family: "Balsamiq Sans", sans-serif;
  color: #fff;
}

/*secоnd second*/
.big-frame2 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  background: radial-gradient(ellipse, #443f87, #35415a);
  backdrop-filter: blur(10px);
  border-radius: 20px;
  box-shadow: 0 0 30px #fff;
  border: 10px dashed #e0e0e0;
  width: 90vw;
  max-width: 1200px;
  height: 78vh;
  max-height: 700px;

  margin: 0 auto;
  margin-top: 70px;
}
.left-section2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.left-section2 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

/* Картинка поверх */
.S {
  position: relative;
  z-index: 2;
  right: 360px;
  top: 40px;
}

.S img {
  width: 350px;
  height: 350px;
  object-fit: contain;
}

.text-con {
  display: flex;
  justify-content: center;
  gap: 25px;
  font-size: 65px;
  top: 80px;
  position: absolute;
  font-family: "Balsamiq Sans", sans-serif;
  color: #fff;
  margin-right: 100px;
}
.text-con div {
  font-family: "Handjet", sans-serif;
  font-weight: bold;
  font-size: 130px;
  margin-top: -55px;
  background: linear-gradient(90deg, #a666e3, #7373e7, #a666e3);
  background-size: 300% 300%;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  animation: threeColors 3s linear infinite;
}

@keyframes threeColors {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 300% 50%;
  }
}

.right-section2 {
  position: absolute;
  display: flex;
  z-index: 10;
  width: 700px;
  height: 200px;
  right: 60px;
  margin-bottom: 60px;
}
.right-section2 p {
  text-align: left;
  font-size: 36px;
  font-family: "Balsamiq Sans", sans-serif;
  color: #c3d7ff;
}

/*third section*/
.big-frame3 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  background: radial-gradient(ellipse, #443f87, #35415a);
  backdrop-filter: blur(10px);
  border-radius: 20px;
  box-shadow: 0 0 30px #fff;
  border: 10px dashed #e0e0e0;
  width: 90vw;
  max-width: 1200px;
  max-height: 2700px;
  height: 1620px;
  margin: 0 auto;
  margin-top: 70px;
}

/* Стили для кругов */
.circle {
  position: absolute;
  width: 700px;
  height: 500px;
  z-index: 1;
}
.circle-top-right {
  top: 300px;
  right: -30px;
}
.circle-bottom-left {
  bottom: 100px;
  left: -30px;
}

/* Стили для основного робота */
.robot-main {
  position: absolute;
  width: 600px;
  height: 500px;
  object-fit: contain;
  z-index: 2;
  top: 180px;
  right: 30px;
}
.robot-main2 {
  position: absolute;
  width: 600px;
  height: 500px;
  object-fit: contain;
  z-index: 2;
  bottom: 200px;
  left: 60px;
}

.text-overlay3 {
  position: absolute;
  font-size: 150px;
  font-weight: bold;
  color: #251a33;
  top: -70px;
  font-family: "Handjet", sans-serif;
  text-shadow: 0 0 5px #8cb2ff, 0 0 10px #8cb2ff, 0 0 15px #8cb2ff,
    0 0 20px #8cb2ff;
  top: 40px;
  left: 80px;
}

.text1 {
  text-align: left;
  z-index: 10;
  position: absolute;
  top: 400px;
  left: 90px;
  font-size: 40px;
  font-family: "Balsamiq Sans", sans-serif;
  width: 600px;
  color: #c3d7ff;
}

.text3 {
  text-align: left;
  z-index: 10;
  position: absolute;
  bottom: 350px;
  right: 70px;
  font-size: 40px;
  font-family: "Balsamiq Sans", sans-serif;
  width: 500px;
  color: #c3d7ff;
}

.invite {
  text-align: center;
  z-index: 10;
  position: absolute;
  bottom: 50px;
  font-size: 58px;
  font-family: "Handjet", sans-serif;
  color: #fff;
}

/*fourth section*/
.big-frame4 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  border-radius: 20px;
  border: 25px solid #e0e0e0;
  width: 90vw;
  max-width: 1000px;
  height: 500px;
  margin: 0 auto;
  margin-top: 70px;
  overflow: hidden;
}
.background-image4 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 2;
}

.dark {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(24, 26, 30, 0.7);
  z-index: 2;
}

.overlay-button {
  position: absolute;
  padding: 30px 60px;
  font-weight: bold;
  color: #fff;
  background-color: #4ac1fd;
  border-radius: 35px;
  cursor: pointer;
  font-size: 70px;
  font-family: "Handjet", sans-serif;
  z-index: 3;
  transition: all 0.3s ease;
  text-decoration: none;
}
.overlay-button:hover {
  transform: scale(1.1);
}
/*fifth section*/
.big-frame5 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  background: radial-gradient(ellipse, #443f87, #35415a);
  backdrop-filter: blur(10px);
  border-radius: 20px;
  box-shadow: 0 0 30px #fff;
  border: 10px dashed #e0e0e0;
  width: 90vw;
  max-width: 1200px;
  max-height: 2700px;
  height: 1620px;
  margin: 0 auto;
  margin-top: 70px;
}

.circle {
  position: absolute;
  width: 450px;
  height: 450px;
  z-index: 1;
}

.circle-top-right {
  top: 150px;
  right: 10px;
}

.circle-middle-left {
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
}

.circle-bottom-right {
  bottom: 80px;
  right: 10px;
}

.robot {
  position: absolute;
  z-index: 2;
  object-fit: contain;
}

.robot-1 {
  top: 260px;
  right: 100px;
  width: 350px;
}

.robot-2 {
  top: 50%;
  left: 80px;
  transform: translateY(-50%);
  width: 350px;
}

.robot-3 {
  bottom: 250px;
  right: 100px;
  width: 350px;
}

/*text*/

.a {
  font-family: "Balsamiq Sans", sans-serif;
  color: #fff;
  position: absolute;
  top: 50px;
  font-size: 45px;
}
.b {
  font-family: "Balsamiq Sans", sans-serif;
  color: #c3d7ff;
  position: absolute;
  top: 110px;
  font-size: 28px;
}
.c {
  font-family: "Balsamiq Sans", sans-serif;
  color: #fb7bff;
  position: absolute;
  top: 280px;
  left: 130px;
  font-size: 43px;
}
.d {
  font-family: "Balsamiq Sans", sans-serif;
  color: #c3d7ff;
  position: absolute;
  top: 350px;
  left: 130px;
  font-size: 33px;
  width: 500px;
}
.e {
  font-family: "Balsamiq Sans", sans-serif;
  color: #cc2b2b;
  position: absolute;
  top: 44%;
  right: 130px;
  font-size: 43px;
}
.f {
  font-family: "Balsamiq Sans", sans-serif;
  color: #c3d7ff;
  position: absolute;
  top: 48.3%;
  right: 95px;
  font-size: 33px;
  width: 600px;
  text-align: left;
}
.g {
  font-family: "Balsamiq Sans", sans-serif;
  color: #0ec9ef;
  position: absolute;
  bottom: 400px;
  left: 130px;
  font-size: 43px;
}

.h {
  font-family: "Balsamiq Sans", sans-serif;
  color: #c3d7ff;
  position: absolute;
  bottom: 180px;
  left: 130px;
  font-size: 33px;
  width: 600px;
}

/*sixth section*/
.big-frame6 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  border-radius: 20px;
  border: 25px solid #e0e0e0;
  width: 90vw;
  max-width: 1000px;
  height: 500px;
  margin: 0 auto;
  margin-top: 70px;
  overflow: hidden;
}

/*FOOTER*/
.main-footer {
  background: #757c9969;
  backdrop-filter: blur(30px);
  padding: 40px 0 20px;
  margin-top: 80px;
}
