@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
.bar {
    border-right: 2px solid #232C42;
    margin: 0px;
}

body {
    margin: 0px;
}

.title {
    color: #BCBEC7;
    font-family: 'Balsamiq Sans', sans-serif;
}

.group {
    width: 40%;
    margin-left: 10px;
    border-right: 4px solid #232C42EE;
}

.glink {
    margin-left: 5px;
    color: #BCBEC7;
    text-decoration: none;
    font-size: 50px;
    font-family: 'Balsamiq Sans', sans-serif;
}

.icon {
    transform: scale(0.8);
}