
.texting {
    position: sticky;
    bottom: 10px;
    margin-left: 5vw;
    margin-right: 5vw;
    width: auto !important;
}

.flex {
    width: 100%;
}

body {
    background-color: #181A1E;
}
.form input {
    background-color: #232629;
    color: #616369;
    height: 60px;
    border: none;
    border-radius: 15px;
    width: auto;
}