
.texting {
    position: absolute;
    bottom: 0px;
    left: 0px;
    margin: 0px;
    width: 100%;
    overflow-x: hidden;
}

.flex {
    width: 100%;
}

body {
    background-color: #181A1E;
}

.form input {
    background-color: #232629;
    color: #616369;
    height: 60px;
    border: none;
    width: 100%;
    font-size: 24px;
}

.form button {
    position: absolute;
    top: 50%;
    right: 10px;
}