.grid {
    width: 100vw;
    height: 100vh;
    grid-template-areas: 
    "a b"
    "a c"
    "a d";
}

body {
    background-color: #181A1E;
    overflow-y: hidden;
    overflow-x: hidden;
    width: 100vw;
}

.fullwidth {
    grid-area: 1 / 2 / 4 / 2;
}