.bg {
    background: #181A1ECC;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -999999;
    animation: enter 0.5s ease;
    animation-fill-mode: forwards;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.bg[data-open="true"] {
    z-index: 999999;
    opacity: 1;
    transition: opacity 0.5s ease;
}