.main {
    background: #242B4D;
    border-radius: 20px;
    width: 50vw;
    height: 55vh;
    position: absolute;
    top: 22.5vh;
    left: 25vw;
}

.button {
    background: none;
    filter: brightness(0.75);
    transition: all 0.5s ease;
    border: none;
}
.close {
    position: absolute;
    right: 40px;
    top: 40px;
}

.button:hover {
    filter: brightness(1);
    transition: all 0.5s ease;
}

.ritmikSidebar {
    background-color: #2F4061;
    width: 40%;
    border-radius: 20px 0 0 20px;
}

.ritmik {
    transform: scale(0.8);
}

.pbar {
    border: 5px solid #C3C3C3;
    background-color: #2F4061;
    border-radius: 999px;
    width: 400px;
    overflow: hidden;
}

.pbar p {
    background-color: #44549D;
    text-wrap: nowrap;
}