.bg {
    background: #181A1ECC;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
}

.main {
    position: absolute;
    left: 30%;
    top: 40%;
}

.return {
    position: absolute;
    top: 60px;
    right: 60px;
}